<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
<a href="http://localhost:8080/">Return to profile</a>
<h1>Hello, quest</h1>
<div th:replace="/fragments/fragment :: img"></div>
<h1 th:text="${friendname} + ' ' + ${username}"></h1>

<!--Add to influencer list-->
<form th:if="${!friendname.equals(username)}" th:action ="${'/perceive/' + friendname}" th:method="post">
    <fieldset>
        <input type="hidden" name="body" th:value="${friendname}">
        <input type="submit" value="Add Percept"/>
    </fieldset>
</form>

<div>
    <ul th:each="post : ${posts}">
        <form th:if="${friendname.equals(username)}"action ="/deletePost" method="post">
            <fieldset>
                <input type="hidden" name="body" th:value="${post.body}">
                <input type="submit" value="X"/>
            </fieldset>
        </form>
        <li th:text="'Post: ' + ${post.body}"></li>
        <li th:text="'Date: ' + ${post.createdAt}"></li>
    </ul>
</div>
<div>
    <h2 th:text="${'Audience of: ' + friendname}"></h2>
    <ul th:each="user : ${audience}">
        <li th:text="'User: ' + ${user.username}"></li>
    </ul>
</div>
<div>
    <h2 th:text="${'Influencers on: ' + friendname}"></h2>
    <ul th:each="user : ${influencers}">
        <li th:text="'User: ' + ${user.username}"></li>
    </ul>
</div>
</body>
</html>