<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dubito, ergo cogito, ergo sum</title>
    <link href="/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>This Application Has Only a Few Features But You Should Know That it is Secure!</h1>
<h3 th:if="${username}" th:text="${'Current User: ' + username + ' with first name: ' + bio}"></h3>
<a th:if="${username}" href="/logout">Log Out</a>
<a th:if="!${username}" href="/login">Log In</a>
<br>
<a th:if="!${username}" href="/signup">Sign Up</a>
</body>
</html>